/* smooth theme transition */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* default light */
html {
  background: #fff;
  color: #000;
}

/* dark mode */
html.dark {
  background: #111;
  color: white;
}

html.dark header {
  background: #1a1a1a;
}

html.dark .card {
  background: #222;
  border-color: #444;
}