---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Counter from "../components/Counter.jsx";

const projects = [
  { title: "Project 1", text: "Project discription 1" },
  { title: "Project 2", text: "Project discription 2" },
  { title: "Project 3", text: "Project discription 3" },
  { title: "Project 4", text: "Project discription 4" }
];
---


<Layout>

<h1 class="text-4xl font-bold text-blue-600">
  My site
</h1>

<Counter client:load />

<div class="grid">

{projects.map(project => (
  <Card title={project.title} text={project.text} />
))}

</div>

</Layout>

<style>
.grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
}
</style>