---
const { title, text, image } = Astro.props;
import LikeButton from '../components/LikeButton.jsx';
---

<div class="card">
<img src={image} alt={title} />

<h3>{title}</h3>

<p>{text}</p>

    <div class="bg-white dark:bg-gray-900 text-black dark:text-white p-4 rounded shadow">
        <!-- Here we place the Like button -->
        <LikeButton client:load />
    </div>

</div>

  {Astro.slots.has('footer') && (
    <div class="card-footer">
      <slot name="footer" />
    </div>
  )}



<style>
.card{
border:1px solid #ddd;
padding:20px;
border-radius:10px;
}

img{
  width:100px;
  height:150px;
  object-fit:cover;
}
</style>