---
const { title, text, image } = Astro.props;
---

<div class="card">
<img src={image} alt={title} />

<h3>{title}</h3>

<p>{text}</p>

</div>

<style>
.card{
border:1px solid #ddd;
padding:20px;
border-radius:10px;
}

img{
width:100%;
border-radius:8px;
}
</style>