---
import Header from "../components/Header.astro";
import DarkModeToggle from "../components/DarkModeToggle.jsx";
import "../styles/global.css";

---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
			
				<!-- First, let's check the theme  -->
		<script>
			//  immediately set the class before rendering
			const theme = localStorage.getItem("theme");
    		if (theme === "dark") document.documentElement.classList.add("dark");
		</script>

		<!-- minimal inline background to prevent flickering -->
		<style>
			html { background: #fff;  } /* light by default */
			html.dark { background: #111; }
		</style>

		<!-- Connecting CSS Tailwind / Astro -->
		<link rel="stylesheet" href="/styles.css">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

	</head>

	<body>
  		<Header />
  		<DarkModeToggle client:load />

  		<main>
   		 	<slot />
  		</main>
	</body>

</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
